<div class="container-fluid"> 
  <div class="row">
    <div class="d-flex" id="wrapper" [ngClass]="navbarOpen ? 'toggled' : ''">
   <!-- Sidebar -->
   <sidebar></sidebar>
   <!-- /#sidebar-wrapper -->

   <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-dark mb-3">
      <button class="btn btn-secondary" id="menu-toggle" (click)="toggleMenu()"><i [ngClass]="navbarOpen ? 'fa fa-chevron-circle-left' : 'fa fa-chevron-circle-right' "></i></button>
     
      <!--<span [hidden]="!navbarOpen"><a href="#"> <i class="fa fa-music" aria-hidden="true"></i> </a> kTunes </span> -->
      <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
      <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        &#9776;
      </button>
    
      <!-- Step 2: Add the ngbCollapse directive to the element below. -->
      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
         
          <li class="nav-item ">
            <form class="form-inline">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
              </div>
            </form>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/Login']"><i class="fa fa-sign-in"></i> Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/Register']"><i class="fa fa-user"></i> Register</a>
        </li>

        </ul>





      </div>
    </nav>

    

    <div class="container-fluid ">
      <router-outlet></router-outlet>

    </div>
    </div>
    </div>


   </div>

</div>
